@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}

body {
  background-color: #F6F7FB;
}

.main__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__container {
  width: 100%;
  height: 150px;
  /* margin-bottom: 20px; */
}

.search__container nav {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
}

.search {
  /* margin-top: 20px; */
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search form {
  width: 80%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  margin: auto;
  border: 1px solid rgba(128, 128, 128, 0.404);

}
.search input {
  width: 100%;
  height: 10%;
  padding: 5px;
  font-size: 15px;
  border: none;
}

.search input:focus {
  outline: none;
}

.gallery__container {
  width: 80%;
  height: 70%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.spinner {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner p {
  text-align: center;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.pokemon__card {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 20%;
  cursor: pointer;
  position: relative;
}

.pokemon__info {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.502);
}

.pokemon__info button {
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s all;
  cursor: pointer;
}

.pokemon__info button:hover {
  background-color: black;
}


.pokemon__card figure {
  width: 100%;
  height: 200px;
}

.pokemon__card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pokemon__card footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 0 0 10px 10px;
  background-color: yellow;
}

.pagination {
  display: flex;
  width: 80%;
  margin-top: 20px;
  gap: 20px;
}

.pagination button {
  padding: 10px;
  width: 70px;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background-color: #00ff84;
  transition: 0.2s all;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #4ce89d;
}


button[disabled] {
  pointer-events: none;
}



@media screen and (max-width: 780px) {
  .pokemon__card {
    width: 45%;
    
  }
}