:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style: none;
  padding: 0;
}

.title {
  text-align: center;
}

.search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__input {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search__filter {
  display: flex;
  gap: 20px;
}

.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.product__card {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #181818;
}

.card__button {
  background-color: #0084ff;
  
}

img {
  width: 100%;
  height: 160px;
  border-radius: 5px;
  aspect-ratio: 16/9;
  object-fit: cover;
  background-color: #fff;
}

.floating__button {
  background-color: #09f;
  border-radius: 50%;
  height: 50px;
  padding: 5px;
  position: fixed;
  right: 15px;
  top: 15px;
  transition: all .3s ease;
  width: 50px;
  z-index: 9999;
}

.floating__button:hover {
  scale: 1.1
}

.cart {
  width: 200px;
  display: none;
  padding: 20px;
  height: 100%;
  background-color: #000000;
  position: fixed;
  right: 0px;
  top: 0;
  overflow-y: scroll;
}


.show {
  display: block;
}

.cart div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cart footer {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
  gap: 10px;
}

.cart li {
  margin-bottom: 20px;
}

.red {
  background: red;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media screen and (max-width: 500px) {
  .search__container {
    flex-direction: column;
  }
}
